<h2>Matches</h2>

<% @matches.each do |match| %>
	<h3><a href="/matches/<%= match.id %>">Match <%= match.id %>:</a> <%= Player.get(match.p1_id).name %> - <%= Player.get(match.p2_id).name %></h3>
	<form action="/matches/<%= match.id %>" method="post">
		<input type="hidden" name="_method" value="delete" />
		<input type="submit" value="Delete match <%= match.id %>">
	</form>
	<% if match.active == 1 %>
		<form action="/matches/<%= match.id %>/end" method="post">		
			<input type="submit" value="End match <%= match.id %>">
		</form>
	<% end %>
<% end %>